.Dnd-Question-Types{
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
    padding: 12px;
    /* border: 1px solid #e5efff; */
}

.react-flow__node-default, .react-flow__node-group, .react-flow__node-input, .react-flow__node-output {
    width: auto;
    z-index: 0;
    transform: translate(250px, 120px);
    pointer-events: all;
    box-shadow: rgb(133 126 238 / 24%) 0px 3px 6px;
    border: 2px solid rgb(170, 200, 249);
    border-radius: 25px;
    box-shadow: 0 0 0 0 rgb(170, 200, 249) !important;
}

.DisplayQuestionType_Canvas {
    height: calc(75% - 150px);
    transform: translate(35px, -45%);
    /* height: auto; */
    position: absolute;
    z-index: 9;
    background: #FFF;
    width: 18%;
    border-radius: 8px;
    inset: auto auto 0px auto;
}